webBill_ys_older/App_WebReferences/ShouRu/n_bank_webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurl.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempurl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurl.org">
      <s:element name="f_yonyou_inter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busicode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="f_yonyou_interResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f_yonyou_interResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="f_yonyou_interSoapIn">
    <wsdl:part name="parameters" element="tns:f_yonyou_inter" />
  </wsdl:message>
  <wsdl:message name="f_yonyou_interSoapOut">
    <wsdl:part name="parameters" element="tns:f_yonyou_interResponse" />
  </wsdl:message>
  <wsdl:message name="f_yonyou_interHttpGetIn">
    <wsdl:part name="busicode" type="s:string" />
    <wsdl:part name="invalue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="f_yonyou_interHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="f_yonyou_interHttpPostIn">
    <wsdl:part name="busicode" type="s:string" />
    <wsdl:part name="invalue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="f_yonyou_interHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="n_bank_webserviceSoap">
    <wsdl:operation name="f_yonyou_inter">
      <wsdl:input message="tns:f_yonyou_interSoapIn" />
      <wsdl:output message="tns:f_yonyou_interSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="n_bank_webserviceHttpGet">
    <wsdl:operation name="f_yonyou_inter">
      <wsdl:input message="tns:f_yonyou_interHttpGetIn" />
      <wsdl:output message="tns:f_yonyou_interHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="n_bank_webserviceHttpPost">
    <wsdl:operation name="f_yonyou_inter">
      <wsdl:input message="tns:f_yonyou_interHttpPostIn" />
      <wsdl:output message="tns:f_yonyou_interHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="n_bank_webserviceSoap" type="tns:n_bank_webserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_yonyou_inter">
      <soap:operation soapAction="http://tempurl.org/f_yonyou_inter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="n_bank_webserviceSoap12" type="tns:n_bank_webserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_yonyou_inter">
      <soap12:operation soapAction="http://tempurl.org/f_yonyou_inter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="n_bank_webserviceHttpGet" type="tns:n_bank_webserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="f_yonyou_inter">
      <http:operation location="/f_yonyou_inter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="n_bank_webserviceHttpPost" type="tns:n_bank_webserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="f_yonyou_inter">
      <http:operation location="/f_yonyou_inter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="n_bank_webservice">
    <wsdl:port name="n_bank_webserviceSoap" binding="tns:n_bank_webserviceSoap">
      <soap:address location="http://192.168.100.170:8001/bank_webservice/n_bank_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="n_bank_webserviceSoap12" binding="tns:n_bank_webserviceSoap12">
      <soap12:address location="http://192.168.100.170:8001/bank_webservice/n_bank_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="n_bank_webserviceHttpGet" binding="tns:n_bank_webserviceHttpGet">
      <http:address location="http://192.168.100.170:8001/bank_webservice/n_bank_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="n_bank_webserviceHttpPost" binding="tns:n_bank_webserviceHttpPost">
      <http:address location="http://192.168.100.170:8001/bank_webservice/n_bank_webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>